@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
 
 
 *{
margin: 0;
padding: 0;
box-sizing: border-box;
  }
  @font-face {
    font-family: "mypixelfont";
    src: url("font/VT323Regular.woff") format("woff");
    }
html , body{
    height: 100%;
    width: 100%;
    background-color: #212121;
    font-family: mypixelfont, monospace ;
}
/* #top-header{
  height: 100vh;
  width: 100%;
  background-color: aqua;

} */

/* nav{
  height: 100PX;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

} */
/* nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 100px;
}
nav h3{
  padding-left: 35px;
  font-size: 25px;
  text-align: center;
  color: white;
  font-weight: 500;


}
nav h3 #logo-wevdev{
  font-size: 22px;
  text-align: center;
  color: #908fed;
  padding-left: 20px;
  font-weight: 300;
}

nav ul li{
  color: #e6db74;
  padding-left: 25px;
  list-style: none; 
  font-size: 22px;
  font-weight: 300;

}
nav ul li:first-child{
  color: #2fc6e9;

} */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#logo-wevdev{
  color: #908fed;
  text-align: center;
  padding-left: 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home-link-color{
  color:#2fc6e9 ;
}
.nav-item {
  margin-left: 3rem;
}

.nav-link{
  font-size: 1.3rem;
  font-weight: 400;
  color: #e6db74;
}

.nav-link:hover{
  color: #908fed;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color:#212121;
      width: 100%;
      border-radius: 10px;
      position: absolute;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(212, 212, 212, 0.409);
      z-index: 1;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 1rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}


#typing-head{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#typing-head h3{
  padding-bottom: 25px;
  font-weight: 600;
  color: white;
}
#h1-type{
 font-size: 100px;
  font-weight: 400;
  color: white;

}

@media screen and (max-width: 600px)
{
  #typing-head h1{
    font-size: 30px;
  }
}

#blink{
  color: #e6db74;
}
.txt-rotate{
  color: #e6db74;
}
#typing-head h5{
  padding-top: 25px;
  font-size: 40px;
  color: white;
}
#home-fiximg{
  height: 250px;
  width: 100%;
  position: fixed;
}
/* #home-fiximg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 80%;
}  */
#section-home-fiximg{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.home-fiximg{
    width: 90%;
    height: 100%;
    background-image: url(https://github.com/saifaliwebdev/saifaliwebdev.github.io/blob/main/images/6vIk.gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* image-rendering: pixelated; */
    opacity: 30%; 

}



#about_me{
  height:100vh ;
  width: 100%;
}
#about-me-hiding{
  margin-top: 50px;
  height:30vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.var-highlight{
	color: #C0AD60;
}
.string-highlight{
	color: white;
}

#typewriter{
		font-size: 2em;
		margin: 0;
		font-family: mypixelfont;
    color: #908fed;

		&:after{
			content: "|";
			animation: blink 300ms linear infinite alternate;
		}
}

@-webkit-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes blink{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

#animated-array{
  margin-top: 35px;
  height: 30vh;
  width: 100%;
  /* display: flex;
  justify-content: center; */
  

}

#about-me-hiding h3{
  font-size:40px;
  color: #908fed;
  font-weight: 400;
  padding-bottom: 25px;
}
#about-me-hiding h1{
  font-size:100px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 30px;
}
.about-p{
  font-size:20px;
  color: #e6db74;
  text-align: center;

}

#twodiv{
  height:100vh ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
#divone{
  height: 70%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid #484848;
}
#divtwo{
  height: 70%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top:1px solid #484848;
  border-left:1px solid #484848;
}
#divone p{
  color: white;
  font-size: 30px;
  text-align: justify;
  padding: 70px;
  font-weight: 500;
  text-decoration: underline;
}
#divtwo p{
  color: #e6db74;
  font-size: 20px;
  text-align: justify;
  padding: 70px;
  font-weight: 300;
}
.btn-div{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
.btn{
  background-color: #2fc6e9;
  color: white;
  padding: 20px 35px;
  font-size: larger;
}

@media screen and (max-width: 600px) 
{

  #divone{
    height: 50%;
    width: 100%;
    
  }
  #divtwo{
    height: 50%;
    width: 100%;
  border-bottom:1px solid #484848; 
  }

  #animated-array{
    margin-top: 35px;
    height: 30vh;
    width: 100%;
    display: flex;
    position: relative;
    
  
  }

  #typewriter{
    height:40vh ;
    width: 100%;
		font-size: 1.5em;
		margin: 0;
		font-family: mypixelfont;
    position: absolute;
    right: 60px;
    color: #908fed;
		&:after{
			content: "|";
			animation: blink 300ms linear infinite alternate;
		}
}

  #about-me-hiding h1{
    font-size: 35px;
  }
  .about-p{
    font-size:13px;
    text-align: center;
  
  }
  #divtwo p{
  font-size: 15px;
  padding: 10px;
  font-weight: 100;
  text-align: center;
  padding: 25px;

  }
  #divone p{
    font-size: 20px;
    text-align: center;
  }
  .btn-div{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
}




#portfolio{
  height:max-content ;
  width: 100%;
  margin-top: 10%;
}
#portfolio-hiding{
  margin-top: 50px;
  height:30vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#portfolio-hiding h3{
  font-size:40px;
  color: #908fed;
  font-weight: 400;
  padding-bottom: 25px;
}
#portfolio-hiding h1{
  font-size:100px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 30px;
}
.portfolio-p{
  font-size:20px;
  color: #e6db74;
  text-align: center;

}
#fourdiv{
  height: max-content;
  width: 100%;
  margin-top: 55px;
  border:1px solid #484848;
  display: flex;
  flex-wrap: wrap;
}
.fourdiv_inner{
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border:1px solid #484848;
}
.portfolio-img-size{
  height: 400px;
  width: 300px;
  object-fit: cover;
}
.fourdiv_inner h3{
  color: white;
  font-size: 25px;
}
.btn-div-portfolio{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}


@media screen and (max-width: 600px) 
{
  #portfolio-hiding{
    margin-top: 30px;
    height:30vh ;
  }
  #portfolio-hiding h1{
    font-size:40px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 30px;
  }

  .portfolio-p{
    font-size:10px;
    color: #e6db74;
    text-align: center;
  
  }
  .portfolio-img-size{
    height: 150px;
    width: 120px;
    object-fit: cover;
  }

  #fourdiv{
    height: max-content;
    width: 100%;
    margin-top: 55px;
    border:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .fourdiv_inner{
    height: 250px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:1px solid #484848;
  }
  .fourdiv_inner h3{
    color: white;
    font-size: 10px;
  }

}



#services{
  height:100vh ;
  width: 100%;
  margin-top: 10%;
}
#services-hiding{
  margin-top: 50px;
  height:30vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#services-hiding h3{
  font-size:40px;
  color: #908fed;
  font-weight: 400;
  padding-bottom: 25px;
}
#services-hiding h1{
  font-size:100px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 30px;
}
.services-p{
  font-size:20px;
  color: #e6db74;
  text-align: center;

}
.services-div{
  height: 100px;
  width: 100%;
  margin-top: 40px;
  border:1px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;

}
.services-div h1{
  font-size: 80px;
}
#services-h1-color1{
  color: #2fc6e9;
}
#services-h1-color2{
  color: #908fed;
}
#services-h1-color3{
  color: #e6db74;
}
.btn-div-services{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 600px) 
{
  #services-hiding{
    margin-top: 30px;
  }
  #services-hiding h3{
    font-size:35px;
  }
  #services-hiding h1{
    font-size:35px;
  }
  .services-div{
    height: 100px;
    width: 100%;
    margin-top: 15px;
    border:1px solid #484848;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .services-div h1{
    font-size: 25px;
  }

}



#contact-me{
  height:100vh ;
  width: 100%;
  margin-top: 10%;
}
#contact-me-hiding{
  margin-top: 50px;
  height:30vh ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contact-me-hiding h3{
  font-size:40px;
  color: #908fed;
  font-weight: 400;
  padding-bottom: 25px;
}
#contact-me-hiding h1{
  font-size:100px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 30px;
}
.contact-me-p{
  font-size:20px;
  color: #e6db74;
  text-align: center;

}

#form-design{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 60vh;
}
#form-design input{
  width: 80%;
  padding-bottom: 25px;
  background-color: transparent;
  border-bottom: 1px solid #484848;
  border-right: none;
  outline: none;
  color: #908fed;
  font-size: 15px;



}

#form-design textarea{
  width: 80%;
  padding-bottom: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #484848;
  outline: none;
  color: #908fed;
  font-size: 15px;


}

textarea::placeholder{
  color: #908fed;
  font-size: 15px;
}
input::placeholder{
  color: #908fed;
  font-size: 15px;

}

@media screen and (max-width: 600px) 
{
  
  #contact-me-hiding h3{
    font-size:35px;
    color: #908fed;
    font-weight: 400;
    padding-bottom: 25px;
  }
  #contact-me-hiding h1{
    font-size:40px;
    color: #ffffff;
    font-weight: 400;
    padding-bottom: 30px;
  }
  .contact-me-p{
    font-size:20px;
    color: #e6db74;
    text-align: center;
  
  }
  
  #form-design{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 60vh;
  }
  #form-design input{
    width: 80%;
    padding-bottom: 25px;
    background-color: transparent;
    border-bottom: 1px solid #484848;
    border-right: none;
    outline: none;
    color: #908fed;
    font-size: 15px;
  
  
  
  }
  
  #form-design textarea{
    width: 80%;
    padding-bottom: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #484848;
    outline: none;
    color: #908fed;
    font-size: 15px;
  
  
  }

}

#footer{
  height: 100px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-top:1px solid #484848;
  /* justify-content: center; */

}
.footer-inner{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.footer-inner svg{
 margin: 50px 15px;
  height: 25px;
  width: 25px;
}
.footer-inner a{
 color: #908fed;
}
.footer-inner svg:hover{
  color: #2fc6e9;
  scale: 1.3;
  transition: all 0.10s;
 }

 .footer-inner h4{
  margin: 50px 15px;
  color: #e6db74;
  font-size: 18px;
 }

 @media screen and (max-width: 600px) 
 {
  
  .footer-inner{
    width: 100%;
    height: 100%;
  }
  .footer-inner svg{
    margin-top: 70px;
     height: 25px;
     width: 25px;
   }

 }

#blink {
  animation: blink 1.1s linear infinite alternate;
}

@keyframes blink {
  from {opacity: 1;}
  20% {opacity: 1;}
  28% {opacity: 0;}
  72% {opacity: 0;}
  80% {opacity: 1;}
  to {opacity: 1;}
}
